@font-face {
  font-family: 'Avenir Regular';
  src: local('AvenirNext-Regular'), url(fonts/AvenirNext-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'Avenir';
  src: local('AvenirNext-Demi'), url(fonts/AvenirNext-Demi.otf) format('opentype');
}
@font-face {
  font-family: 'Avenir Bold';
  src: local('AvenirNext-Bold'), url(fonts/AvenirNext-Bold.otf) format('opentype');
}

body {
  margin: 0;
  font-family: 'Avenir Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Avenir Bold';
  font-size: 3rem;
  
}

h2 {
  color: white;
  font-family: 'Avenir Regular';
  font-size: 1.5rem;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

